!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Al Ruwasi Workshop</title> 
    <link rel= "icon" href  = "images/favicon.png"   type = "image/x-icon">
    <link rel = "stylesheet" href="stylecss.css">
    
</head>
<body style="background-color:powderblue;">
<nav>
<div class="Menu">
   <h1><center> Al-Ruwasi Workshop</center></h1></br>
   <ul><a href  ="#Home">Home</a></ul>
   <ul><a href ="#Services">Services</a></ul>
   <ul><a href ="#Products">Products</a></ul>
   <ul><a href ="#About">About</a></ul>
   <ul><a href ="#Contact">Contact</a></ul>
   </div>
   </nav>
<hr size="5" width="100%" />

   <h1 style="color:red;" id="Home">Home</h1>
   <h3>
    <b>Aslam-o-Alaikum EveryOne!</br>
    Hope you all are doing Well</br>
    On this website you can get services about Cars autoelectric system</br>
    One this website you can get products easily whatever you want about electric parts of Cars and other vehicles</br></b>
   <img style = "width :300px; height: 300px;" img src="images/home image 1.webp" alt="Mechanic">
   <img style = "width :300px; height: 300px;"img src="images/home image 2.jpg" alt="Mechanic">
   <img style = "width :300px; height: 300px;"img src="images/home image 3.jpg" alt="Mechanic">

</h3>

   <h1 style="color:red;" id="Services">Services</h1> 
   <h3>Certified Electricians & Mechanics
    We Provide the Best EFI Electrician Work and Diagnose all car problems with Latest Scanners and Equipment. Our Electrician can solve your car problem with in few mins. Many car owners don’t know when they need a mechanic or when they need an auto electrical repair shop. There is nothing wrong with this, it just makes it easier to know the difference when something goes wrong with your car or you need some extra work performed.
    Perform electronic vehicle diagnostics, using multimeters, oscilloscopes and both OBD and dealer specific software scantools, to locate the source of your electrical problem, be it all the way from a check engine light to a failed window motor.
    Perform diagnostics to locate problems in a whole range of modules such as 
   </h3>
   <h3 style="color:brown;">
    <ul type="disc"></ul>
    <li> ABS, SRS airbag systems and electronic steering.</li>
    <li> and replace faulty alternators, starter motors and batteries.</li>
    <li>Perform testing and repairs on electronic fuel injection and ignition systems.</li>
    <li>Diagnose and repair fuel system components such as electronic fuel pumps.</li>
    <li>There are too many items on the car to list, but armed with the knowlege of electrical circuits</li>
    <li> we can apply our skills to a whole range of electrical problems on a car.</li>
   <li> Install and fix accessories such as radios, CB radios, lights and anti-theft systems.</li>
    <li>Installing new sound systems, as well as rear vision cameras and sensors.</li>
</ul>
<img style = "width :300px; height: 300px;" img src="images/services image 1.jpg" alt="Mechanic">
<img style = "width :300px; height: 300px;"img src="images/services image 2.jpg" alt="Mechanic">
<img style = "width :300px; height: 300px;"img src="images/service image 3.jpg" alt="Mechanic">
<img style = "width :300px; height: 300px;"img src="images/services image 4.jpg" alt="Mechanic">
</h3>

<h1 style="color:red;" id="Products">Products</h1> 
<h3><center>
We have so many products of automobiles</br>
Some products and there prices are given below :</br>
</center>
<center><table style="color:blue;">
    <tr>
      <th>Products</th>
      <th>Prices</th>
      <th>Avalibility</th>
    </tr>
    <tr>
      <td>AC Compressor</td>
      <td>10,000</td>
      <th>Stock</th>
    </tr>
    <tr>
      <td>Alloy Wheel</td>
      <td>9000</td>
      <th>Stock</th>
    </tr>
    <tr>
        <td>Brake Pad</td>
        <td>4000</td>
        <th>Stock</th>
      </tr>
      <tr>
        <td>Air Filter</td>
        <td>2000</td>
        <th>Stock</th>
      </tr>
      <tr>
        <td>Steel Rim</td>
        <td>12000</td>
        <th>Stock</th>
      </tr>
      <tr>
        <td>Car Expansion</td>
        <td>20000</td>
        <th>Stock</th>
      </tr>
      <tr>
        <td>AC pipes</td>
        <td>2900</td>
        <th>Stock</th>
      </tr>
      <tr>
        <td>Denmo</td>
        <td>3000</td>
        <th>Stock</th>
      </tr>
      <tr>
        <td>Generator</td>
        <td>4000</td>
        <th>Stock</th>
      </tr>
      <tr>
        <td>Eletric Computer</td>
        <td>2000</td>
        <th>Stock</th>
      </tr>
      <tr>
        <td>Sulf</td>
        <td>2900</td>
        <th>Stock</th>
      </tr>
      <tr>
        <td>Coil</td>
        <td>900</td>
        <th>Stock</th>
      </tr>
      <tr>
        <td>Battery</td>
        <td>5000</td>
        <th>Stock</th>
      </tr>

  </table>
</center>
</h3>
<h1 style="color:red;" id="About">About</h1>   
<h3>
    This Website is just for <span style="color:red; font-weight= "bold">business purpose .</span>
    <dl>
        <dt  style="color: red ; " >
            Introduction
        </dt>
        <dd>
            My Name is InaamUllah.</br>
            I am from Sialkot. </br>
            I am Running the business of Automobile Workshop. </br>
        </dd>
    </dl>
    <dl>
        <dt style="color:red ;">
            AutoMobile :
        </dt>
        <dd>
            The definition of an automobile is a means of transportation that usually has wheels and an engine. A car is an example of an automobile
        </dd>
    </dl>
    <center>Thanks for coming on this website</center>
    <iframe width="300" height="300"
src="https://youtu.be/XX9wgjydD54">
</iframe></br>
<a href="https://youtu.be/XX9wgjydD54">Watch this</a></br>
    <a href="Contact now.html"><img style= "width: 100px ; height=100px" img src="images/contact us button.jpg"/></a>
</h3>
<h1 style="color: red ;" id="Contact">Contact</h1> 
    <center>
        <table cellspacing="35" cellpading="5"
            style="text-align: center; font-size: 20px; font-weight: bold; ">
               <tr>
                   <td>Phone Number :</td>
                <td>0314*******</td>
                </tr>
            <tr>
                <td style=>Instagram :</td>
                <td><a href="https://www.instagram.com/inaam_here/">inaam_here</a></td>
            </tr>
            <tr>
                <td style=>Facebook :</td>
                <td><a href="https://www.facebook.com/Inaam Ullah/">Inaam Ullah</a></td>
            </tr>

        </table>
    </center>
</body>
</html>
